<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/gameSettings.css">
</head>

<body>
    <div class="container">
        <span>Game data edit</span>
        <div class="contents">
            <div class="items">
                <div class="item title">
                    <p>Quiz</p>
                    <p>Answer</p>
                    <p>Hint</p>
                </div>
                <div class="create">Create</div>
                <div class="item">
                    <div class="edit">Edit data</div>
                    <p class="quiz">Quiz</p>
                    <p class="answer">Answer</p>
                    <p class="hint">Hint</p>
                </div>
            </div>
            <div class="setting">
                
            </div>
        </div>
        <div class="btns">
            <p>save</p>
            <p onclick="location.href ='./index.html'">cancle</p>
        </div>
    </div>
    <span class="footer">Copyright© CistusF</span>
</body>

</html>