<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/home.css">
</head>

<body>
    <div class="container">
        <div class="contents">
            <p id="title">EQUAL!</p>
            <p id="description">Study with game!</p>
        </div>
        <div class="btns">
            <a href="./game.html" class="btn">
                Start
            </a>
            <a href="./gameSettings.html" class="btn">
                Quiz Settings
            </a>
            <a href="./programSettings.html" class="btn">
                Program Settings
            </a>
            <a href="./index copy.html" class="btn">
                Credit
            </a>
        </div>
    </div>
    <span class="footer">Copyright© CistusF</span>
</body>

</html>