<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="ingame.css">
    <title>Equal!</title>
    <script>
        var list = []
        var data = require('../data/data.json')
        const { dialog } = require('electron').remote
        let quiznumber;
        random = () => {
            return Math.floor((Math.random() * data.list.length - 1) + 1);
        }
        reload = () => {
            load()
        }
        load = () => {
            if (list.length == data.list.length) {
                alert("[Perfect]\n\nGame end")
                window.location = './main.html'
                return;
            }
            quiznumber = random()
            if (!list.includes(quiznumber)) {
                document.getElementById('Q').innerText = data.list[quiznumber].quiz
            } else {
                reload()
            }
        }
        get = () => {
            if (data.list[quiznumber].answer.includes(document.getElementById("A").value)) {
                list.push(quiznumber)
                document.getElementById("A").value = null
                load()
            } else {
                dialog.showMessageBoxSync([window], {
                    
                })
                alert(`Wrong\nThe correct answer is : ${data.list[quiznumber].answer}`)
                window.location = './main.html'
            }
        }
    </script>
</head>

<body onload="load()">
    <h1 class="Giventitle">
        Equal!
    </h1>
    <label class="Giventitle2">Write the answer below.</label>
    <p>
        <input type="text" style="width: 30vh;" class="Input" id="A">
    </p>
    <p>
        <labal class="Question" id="Q"><br>
            Here will be the question!
        </labal>
    </p>
    <p>
    <div class="buttons">
        <button type="button" onclick="get()">Ver</button>
    </div>
    </p>
</body>

</html>