<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main menu</title>
    <link rel="stylesheet" href="mainstyle.css">
    <script>
        start = () => {
            window.location = "./ingame.html"
        }
        quit = () => {
            window.close()
        }
        openwfile = () => {
            window.location = "./words.html"
        }
    </script>
</head>

<body>
    <div class="Indexform">
        <h1>
            EQUAL!
        </h1>
        <div class="description">
            The game to be the WORDMASTER
        </div>
        <div>
            <input class="buttons" id="start" type="button" value="Start" onclick="start()">
            <input class="buttons" id="quit" type="button" value="Quit" onclick="quit()">
            <input class="buttons" id="openwfile" type="button" value="Open Word File" onclick="openwfile()">
        </div>
        <div class="bottom-text">
            copyrightⓒ Vendetta & Cellary
        </div>
    </div>
</body>

</html>
