<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="mainstyle.css">
    <script>
        const settings = require('../data/settings.json');
        const fs = require('fs');
        load = () => {
            document.getElementById('volume').value = settings.voicevolume * 10
            document.getElementById('rate').value = settings.voicerate * 10
            document.getElementById('pitch').value = settings.voicepitch * 10
        }
        getsettings = () => {
            let settings = {
                "voicevolume": document.getElementById('volume').value / 10,
                "voicerate": document.getElementById('rate').value / 10,
                "voicepitch": document.getElementById('pitch').value / 10
            }
            return settings
        }

        save = () => {
            let setting = getsettings()
            fs.writeFileSync('./resources/app/data/settings.json', JSON.stringify(setting));
        }

        play = (text) => {
            let setting = getsettings()
            console.log(setting)
            let tts = new SpeechSynthesisUtterance(text)
            tts.lang = 'en-US'
            tts.rate = setting.voicerate
            tts.pitch = setting.voicepitch
            tts.volume = setting.voicevolume
            speechSynthesis.speak(tts);
        }
    </script>
</head>

<body onload="load()">
    <div class="Indexform">
        <div class="description">
            You Can Edit Settings
        </div>
        <center id="settings">
            <p>
            <h2>Volume</h2><input id="volume" type="range" min="0" max="10" value="10" class="slider" id="myRange">
            </p>
            <p>
            <h2>Rate</h2><input id="rate" type="range" min="0" max="20" value="10" class="slider" id="myRange">
            </p>
            <p>
            <h2>Pitch</h2><input id="pitch" type="range" min="0" max="20" value="10" class="slider" id="myRange">
            </p>
            <p>
                <input class="buttons" type="button" value="Sound Test" onclick="play('test')">
            </p>
            <p>
                <input class="buttons" type="button" value="Save Settings" onclick="save()">
            </p>
            <p>
                <input class="buttons" type="button" value="Go To Main" onclick='window.location = "./main.html"'>
            </p>
        </center>
        <div class="bottom-text">
            copyrightⓒ Vendetta & Cellary
        </div>
    </div>
</body>

</html>