<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Words</title>
    <link rel="stylesheet" href="words.css">
    <script>
        const data = require('../data/data.json');
        const settings = require('../data/settings.json');
        playe = (text) => {
            let tts = new SpeechSynthesisUtterance(text)
            tts.lang = 'en-US'
            tts.rate = settings.voicerate
            tts.pitch = settings.voicepitch
            tts.volume = settings.voicevolume
            speechSynthesis.speak(tts);
        }
        playk = (text) => {
            let tts = new SpeechSynthesisUtterance(text)
            tts.lang = 'ko-KR'
            tts.rate = settings.voicerate
            tts.pitch = settings.voicepitch
            tts.volume = settings.voicevolume
            speechSynthesis.speak(tts);
        }
        load = () => {
            document.getElementById('list').innerHTML = ''
            data.list.forEach(w => {
                document.getElementById('list').innerHTML += `<tr><td>${w.quiz}<button onclick="playe('${w.quiz}')">listen</button></td><td>${w.answer}<button onclick="playk('${w.answer}')">listen</button></td></tr>`
            })
        }
        search = () => {
            let list = ''
            if (!document.getElementById("text").value) return load()
            let find = data.list.find(i => i.quiz.includes(document.getElementById("text").value))
            if (!find) return;
            data.list.forEach(l => {
                if (l.quiz.includes(document.getElementById("text").value)) return list += `<tr><td>${l.quiz}<button onclick="playe('${l.quiz}')">listen</button></td><td>${l.answer}<button onclick="playk('${l.answer}')">listen</button></td></tr>`
            })
            document.getElementById('list').innerHTML = list
        }
    </script>
</head>

<body onload="load()">
    <div class="Wordsform">
        <div style="float: right;">
            <div class="search">
                Search <input id="text" type="text" onkeyup="search()" />
            </div>
        </div>
        <center>
            <div class="tableitem">
                <table class="content-table">
                    <thead>
                        <tr>
                            <th>Word</th>
                            <th>Mean</th>
                        </tr>
                    </thead>
                    <tbody id="list">

                    </tbody>
                </table>
            </div>
        </center>
        <input type="button" value="Back" class="bbtn" onclick="window.location = './main.html'">
    </div>
</body>

</html>